header{
    font-size:60px;
    margin:15px 42px auto 42px;
    font-style: italic;
    font-weight: 800;
}


body{
    background-image:url(../img/bakgrundmini.webp);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.main {
  margin:auto 42px auto 42px;
}

.text {
    font-weight: 10;
    max-width:1000px;
    background-color: rgb(255, 255, 255, 0.7);
    border:20px solid rgb(255, 255, 255, 0.7);
    margin-top: 1%;
    
    
}

.flexbox-container {
   display:flex;
   justify-content:space-evenly;
   column-gap: 40px;
   background-color: lightgrey;
   max-width: 950px;
   margin-top: 15px;
   border:outset darkgrey;
}

.flexbox-item {
  width:auto;
  height:fit-content;
  font-size:30px;
  color:darkslategray;
}

